# --- Dependencies ---
node_modules/          
venv/                  
.env                  

# --- Build Outputs ---
dist/                 
build/                 
*.exe                 

# --- Logs ---
*.log                  
npm-debug.log*         

# --- OS Specific Files ---
.DS_Store              
Thumbs.db             

# --- IDE Settings ---
.vscode/               
.idea/                 
*.swp                  